{% extends 'base.html' %}

{% block content %}
<header class="fixed top-0 left-0 right-0 z-20 bg-white shadow-lg">
    {% include "show_header.html" %}
</header>

<div class="content-wrapper">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
        <h2 class="text-3xl font-bold sm:text-4xl text-center">Add New Food</h2>

        <form method="post">
            {% csrf_token %}
            <div class="mt-4">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            
            <div class="mt-4">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>

            <div class="mt-4">
                {{ form.price.label_tag }}
                {{ form.price }}
            </div>

            <div class="mt-4">
                <h3 class="font-semibold">Select Ingredients:</h3>
                {{ form.ingredients }}  <!-- Checkboxes for ingredients -->
            </div>

            <div class="mt-8">
                <button type="submit" class="bg-pink-600 text-white py-2 px-4 rounded">
                    Add Fnb
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
