{% extends 'base.html' %}
{% block meta %}
<title>Fnb</title>
{% endblock meta %}

{% block content %}

<div class="flex flex-row gap-4">
  
  <section class="bg-[#FFD700] text-white">
      <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
        <div class="mx-auto max-w-lg text-center">
          <h2 class="text-3xl font-bold sm:text-4xl">Mineat</h2>
          
          <p class="mt-4 text-gray-300">
            kosongg
          </p>
        </div>
    
        <!-- Mulai iterasi makanan -->
        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
          {% for fnb in fnbs %}
              <a href='{% url "review:show_review" %}?id={{ fnb.id }}'>
              {% include "fnb_card.html" with fnb=fnb %}
              
              </a>
          {% endfor %}
          
        </div>
        <!-- Selesai Iterasi -->
    
        <div class="mt-12 text-center">
          <a
            href="#"
            class="inline-block rounded bg-pink-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-pink-700 focus:outline-none focus:ring focus:ring-yellow-400"
          >
            Get Started Today
          </a>
        </div>
      </div>
  </section>
</div>
{% endblock content %}