{% extends 'base.html' %}

{% block meta %}
<title>Tilt Card Example</title>
<style>
    .tilt-card-container {
        perspective: 1000px;
    }

    .tilt-card {
        transform-style: preserve-3d;
        transition: transform 0.3s ease-out;
    }

    .tilt-card .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: inherit;
    }

    .tilt-card-container:hover .tilt-card .overlay {
        opacity: 1;
    }

    .tilt-card .text-content {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        color: white;
        transform: translateY(30px) translateZ(50px);
        transition: transform 0.3s ease;
    }

    .tilt-card-container:hover .tilt-card .text-content {
        transform: translateY(0) translateZ(50px);
    }

    .tilt-card .text-content .description {
        opacity: 0 !important;
        transition: opacity 0.3s ease;
    }

    .tilt-card-container:hover .tilt-card .text-content .description {
        opacity: 1 !important;
    }

    .tilt-card .image-container {
        transform-style: preserve-3d;
        transition: transform 0.3s ease-out;
    }

    
    .tilt-card .image-container img {
        transform: translateZ(30px); 
        transition: transform 0.3s ease-out;
    }
</style>
{% endblock meta %}

{% block content %}
<a class="tilt-card-container" href='{% url "review:show_review" %}?id={{ fnb.id }}'>
    <div class="tilt-card relative h-96 w-72 rounded-xl bg-gradient-to-br from-[#FFF3B0] to-[#FFF3B0]">
        <div class="image-container absolute inset-4 grid place-content-center rounded-xl shadow-lg"
            style="transform: translateZ(75px);">
            <img src="{{ fnb.image }}" alt="{{ fnb.name }}" class="rounded-xl object-cover h-full w-full" />
            
            <div class="overlay rounded-xl"></div>

            <div class="text-content">
                <p class="text-center text-xl font-bold [text-shadow:_0_1px_0_rgb(0_0_0_/_100%)]">{{ fnb.name }}</p>
                <p class="text-center text-l description [text-shadow:_0_1px_0_rgb(0_0_0_/_80%)]" >{{ fnb.description }}</p>
            </div>
        </div>
    </div>
</a>
{% endblock content %}