<div class="bg-red-900 shadow-md rounded-lg p-6 form-style">
    <h2 class="text-2xl font-bold text-center mb-6 text-white">Add Restaurant</h2>
    <form id="ajax-add-restaurant-form" method="post" class="space-y-6">
      {% csrf_token %}
      {% for field in form %}
        <div class="flex flex-col">
          <label for="{{ field.id_for_label }}" class="mb-2 font-semibold text-white">
            {{ field.label }}
          </label>
          <div class="w-full">
            {% if field.name == 'fnb' %}
              <div class="flex flex-col space-y-2">
                {% for checkbox in field %}
                  <label class="inline-flex items-center">
                    {{ checkbox.tag }}
                    <span class="ml-2">{{ checkbox.choice_label }}</span>
                  </label>
                {% endfor %}
              </div>
            {% else %}
              {{ field }}
            {% endif %}
          </div>
          {% if field.help_text %}
            <p class="mt-1 text-sm text-gray-500">{{ field.help_text }}</p>
          {% endif %}
          {% for error in field.errors %}
            <p class="mt-1 text-sm text-red-600">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="flex justify-center mt-6">
        <button type="submit" class="bg-sky-500 hover:bg-lime-500 text-white font-semibold px-6 py-3 rounded-lg transition duration-300 ease-in-out w-full">
          Add Restaurant
        </button>
      </div>
    </form>
  </div>  