{% for restaurant in restaurants %}
    <a href="{% url 'restaurant:restaurant_details' %}?id={{ restaurant.id }}" 
    class="restaurant-item bg-red-900 shadow-md rounded-lg overflow-hidden transform transition duration-300 hover:scale-105">
            <div class="p-4">
                <h2 class="text-white text-3xl font-bold">{{ restaurant.name }}</h2><br>
                <p class="text-white">{{ restaurant.address }}</p><br><br>
                <img src="{{ restaurant.image }}" alt="{{ restaurant.name }}" class="w-full h-32 object-cover rounded-md">
            </div>
        </a>
    {% endfor %}